{% extends 'usuarios/base.html' %}
{% block conteudo %}
<!-- Conteúdo principal -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Usuários</h2>

    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Idade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id_usuario }}</td>
                            <td>{{ usuario.nome }}</td>
                            <td>{{ usuario.idade }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}